<!DOCTYPE html>
<html>
	<head>
		<title>Simple Kubernetes App</title>
		<style>
			table, th, td {
				border: 1px solid black;
				border-collapse: collapse;
			}
		</style>
	</head>
	<body>
		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>Color</th>
			    </tr>
			</thead>
			<tbody>
				{% for person in people -%}
				<tr>
					<td>{{ person.firstname }}</td>
					<td>{{ person.color }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<br />
		<table>
			<tr>
				<td>Frontend</td>
				<td>{{ frontend }}</td>
			</tr>
			<tr>
				<td>Backend</td>
				<td>{{ backend }}</td>
			</tr>
		</table>
	</body>
</html>